<%= form_with method: "post", remote: true do |f| %>
  <% flash.each do |type, msg| %>
    <div class="alert alert-<%= type %> ">
      <%= msg %>
    </div>
  <% end %>

  <div class="input-group ml-5 mr-4 mt-2 mb-2 col-10 col-md-6">
    <%= label "email-invite", "post", "Your friend's email:", class: "p-2" %>

    <%= text_field "email-invite", nil, placeholder: "Recipient's email", class: "form-control mr-2" %>

    <%= f.submit "Add", class: "btn btn-primary" %>
  </div>
  <div class="row border p-3 mb-5 ml-5 mr-5 align-middle">

    <% unless @friends.nil? %>
      <% @friends.each do |friend| %>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card w-100 p-3 border-0">
            <div class="card-body">
              <h5 class="card-title">
                <%= "#{friend.first_name}  #{friend.last_name}" %>
              </h5>
              <p><%= friend.email %></p>
              <!--        <p class="card-text"></p>-->
              <!--            <a href="#" class="btn btn-danger">Unfriend</a>-->
              <%= f.button "Unfriend", action_name: 'friends#destroy', name: "unfriend-btn", value: friend.id, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <h4 class="text-center col-12">You have no friends yet.</h4>
    <% end %>

  </div>
<% end %>