<div class="row">
  <div class="col-sm-6">
    <div class="card bg-dark text-white">
    <h5 class="card-header">Latest orders</h5>
      <div class="card-body">
        <% @orders.each do |order| %>
          <p class="card-text">
            <a class="btn btn-primary" href=<%= details_path(order) %>><%= order.orderType %></a> at <%= order.resturant %>
            on <%= order.created_at.strftime("%Y-%m-%d - %H:%M") %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card bg-dark text-white">

     <h5 class="card-header">Friends activity</h5>
      <div class="card-body">
          <%= @friends.each do |friend| %>
            <p class="card-text"><%= friend.id %></p>
          <% end %>
      </div>


    </div>
  </div>
</div>