<%= form_with(model: order, local: true, :authenticity_token => true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= text_field_tag(:type, placeholder: "Order type", class: "form-control") %>
  </div>
  <div>
    <label for="restaurant" class="col-3">Restaurant:</label>
    <input type="text" name="restaurant" id="" class="col-7">
  </div>
<!--  <div class="input-group">-->
    <%#= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
<!--    <div class="input-group-btn">-->
      <%#= button_tag "test", :class => 'btn btn-info glyphicon glyphicon-search', :name => nil %>
<!--    </div>-->
<!--  </div>-->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%#= simple_form_for @order, url: orders_path do |f| %>
  <%#= f.input :type, @order.type %>
  <%#= f.input :restaurant, @order.restaurant %>
  <%#= f.input :Menu, as: :file %>
  <%#= f.association :friends %>
  <%#= f.submit "Next", class: 'btn btn-lg btn-primary float-right' %>
<%# end %>