<div class="container bg-light">
  <div class="row">
    <div class="col">
      <h1 class="display-4">Orders</h1>
    </div>
    <div class="col">
       <button class="btn btn-link"><%= link_to "Start New Order", "/orders/new"%></button>
    </div>
  </div>



<table class="table table-light">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Order</th>
      <th scope="col">Resturant</th>
      <th scope="col">Invited</th>
      <th scope="col">Joined</th>
      <th scope="col">Status</th>
      <th scope="col" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <%  @orders.each do |order|%>
      <tr>
        <th scope="row"><%= @counter+1 %></th>
        <td><%= current_user.first_name %> <%= current_user.last_name %></td>
        <td><%= order.resturant %></td>
        <td>@mdo</td>
        <td><%= order.created_at.strftime("%Y-%m-%d") %></td>
        <td>Waiting</td>
        <td>
        <button class="btn btn-link"><%= link_to "View", "#" %></button>
        </td>
        <td>
        <button class="btn btn-link"><%= link_to "Finish", "##" %></button>
        </td>
        <td>
        <button class="btn btn-link"><%= link_to "Cancel", "###" %></button>
        </td>
    <% end %>
  </tbody>
</table>

</div>