<div class="container bg-light">
  <div class="row">
    <div class="col">
      <h1 class="display-4">Orders</h1>
    </div>
    <div class="col">
       <button class="btn btn-link"><%= link_to "Start New Order", "/orders/new"%></button>
    </div>
  </div>



<table class="table table-light">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Order</th>
      <th scope="col">Resturant</th>
      <th scope="col">Invited</th>
      <th scope="col">Joined</th>
      <th scope="col">Status</th>
      <th scope="col" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>16 Feb</td>
      <td>Waiting</td>
      <td>
      <button class="btn btn-link"><%= link_to "View", "#" %></button>
      </td>
      <td>
      <button class="btn btn-link"><%= link_to "Finish", "##" %></button>
      </td>
      <td>
      <button class="btn btn-link"><%= link_to "Cancel", "###" %></button>
      </td>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>16 Feb</td>
      <td>Waiting</td>
      <td>
      <button class="btn btn-link"><%= link_to "View", "#" %></button>
      </td>
      <td>
      <button class="btn btn-link"><%= link_to "Finish", "##" %></button>
      </td>
      <td>
      <button class="btn btn-link"><%= link_to "Cancel", "###" %></button>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>16 Feb</td>
      <td>Waiting</td>
      <td>
      <button class="btn btn-link"><%= link_to "View", "#" %></button>
      </td>
      <td>
      <button class="btn btn-link"><%= link_to "Finish", "##" %></button>
      </td>
      <td>
      <button class="btn btn-link"><%= link_to "Cancel", "###" %></button>
      </td>
    </tr>
  </tbody>
</table>

</div>