<div class="container bg-dark">
  <div class="row">
  
    <div class="col-md-4"></div>
<div class="col-md-4" style="margin: 10px;">
     <%= link_to "Start New Order", "/orders/new" , class: "btn btn-primary"%>
</div>
<div class="col-md-4"></div>
  </div>


  <table class="table table-dark">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Order</th>
      <th scope="col">Resturant</th>
      <th scope="col">Invited</th>
      <th scope="col">Joined</th>
      <th scope="col">Status</th>
      <th scope="col" colspan="3">Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @orders.each do |order| %>
      <tr>
        <th scope="row"><%= @counter + 1 %></th>
        <td>
          <%= order.orderType %>
        </td>
        <td><%= order.resturant %></td>
        <td><%= @invites.count {|invite| invite.order_id == order.id } %></td>
        <td><%= @invites.count {|invite| (invite.order_id == order.id && invite.joined == true)} %></td>
        <td><%= order.status %></td>
        <td>
          <%= link_to "View", details_path(order) , class: "btn btn-primary" %>
        </td>
        <td>
          <%= link_to "Finish", "##" , class: "btn btn-primary" %>
        </td>
        <td>
         <%= link_to "Cancel", "###" , class: "btn btn-primary" %>
        </td>
    <% end %>
    </tbody>
  </table>

</div>