<h1>Invite friends to Your order</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card " style="margin-top: 50px;">
        <div class="card-header">
          <b>Your Friends</b>
        </div>
        <div class="card-body">

          <%= form_for :invite, url: invite_url do |f| %>

            <% flash.each do |type, msg| %>
              <div class="alert alert-<%= type %> ">
                <%= msg %>
              </div>
            <% end %>

            <% unless @friendsToInvite.nil? %>
              <% @friendsToInvite.each do |friend| %>
                <div>
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= "#{friend.first_name}  #{friend.last_name}" %>
                    </h5>
                    <p><%= friend.email %></p>

                    <%= f.button "Invite", action_name: 'orders#invite', name: "invite-btn", value: friend.id, class: "btn btn-primary" %>
                  </div>
                </div>
              <% end %>
            <% else %>
              <h4 class="text-center col-12">You have no friends yet.</h4>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card " style="margin-top: 50px;">
        <div class="card-header">
          <b>Your groups</b>
        </div>
        <div class="card-body">
          <%= form_for :inviteGroup, url: inviteGroup_url do |f| %>
          <% flash.each do |type, msg| %>
              <div class="alert alert-<%= type %> ">
                <%= msg %>
              </div>
            <% end %>
              <% unless @groups == [] %>
                  <% @groups.each do |group| %>                
                      <div>
                          <div class="card-body">
                              <h5 class="card-title"><%= group.name %></h5>                    
                              <% group.users.all.each do |user| %>
                                  <p>
                                  <h6><%= "#{user.first_name}  #{user.last_name}" %></h6>
                                  </p>
                              <% end %>
                              <%= f.button 'Invite Group', action_name: 'orders#inviteGroup', name: "inviteGroup-btn", value: group.id, class: "btn btn-primary" %>
                          </div>
                      </div>
                  <% end %>
              <% else %>
                  <h4 class="text-center col-12">You have no groups</h4>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card " style="margin-top: 50px;">
        <div class="card-header">
          <b>Invited friends</b>
        </div>
        <div class="card-body">

          <%= form_for :cancel, url: cancel_path, method: :delete do |f| %>
            <% unless @invitedFriends.nil? %>
              <% @invitedFriends.each do |friend| %>
                <div>
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= "#{friend.first_name}  #{friend.last_name}" %>
                    </h5>
                    <p><%= friend.email %></p>

                    <%= f.button "Cancel", action_name: 'orders#cancel', name: "cancel-btn", value: friend.id, class: "btn btn-danger" %>
                  </div>
                </div>
              <% end %>
            <% else %>
              <h4 class="text-center col-12">You haven't invited any friends yet.</h4>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
    <div class="col">
    <div class="card " style="margin-top: 50px;">
        <div class="card-header">
          <b>Joined friends</b>
        </div>
        <div class="card-body">
        
            <% unless @joinedFriends.nil? %>
              <% @joinedFriends.each do |friend| %>
                <div>
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= "#{friend.first_name}  #{friend.last_name}" %>
                    </h5>
                    <p><%= friend.email %></p>

                  </div>
                </div>
              <% end %>
            <% else %>
              <h4 class="text-center col-12">No friends have Joined yet.</h4>
            <% end %>
          
        </div>
        </div>
    </div>
  </div>
</div>
<br>
<%= link_to "Add Order Details", details_path, {:class => "btn btn-primary active", :style => "margin-bottom:3cm; display:block;"} %>
