<h1>Add Order</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <%= form_for :newOrder, url: newOrder_url do |f| %>

        <%= f.text_field(:person, {:value => current_user.first_name, :style => 'display: none;'}) %>

        <div class="form-group ">
          <%= f.label(:orderType, {:class => 'sr-only'}) %>
          <%= f.select :orderType, ['Breakfast', 'lunch', 'Dinner'], {prompt: "Order for..."}, {class: "form-control", :style => 'margin-top: 100px; margin-bottom: 30px;'} %>
        </div>

        <div class="form-group ">
          <%= f.label(:resturant, {:class => 'sr-only'}) %>
          <%= f.text_field(:resturant, {:class => 'form-control', :placeholder => 'Restaurant', :style => 'margin-bottom: 30px;'}) %>
        </div>

        <div class="custom-file">
          <%= f.label(:menu, {:class => 'custom-file-label', :for => "menu"}) %>
          <%= f.file_field(:menu, {:id => "menu", :class => 'custom-file-input', :style => 'margin-bottom: 30px;'}) %>
        </div>

<!--        <div class="form-group">-->
<!--          <div class='input-group date' id='datetimepicker'>-->
<!--            <input type='text' class="form-control"/>-->
<!--            <span class="input-group-addon">-->
<!--              <span class="glyphicon glyphicon-calendar"></span>-->
<!--            </span>-->
<!--          </div>-->
<!--          <script type="text/javascript">-->
<!--              $('#datetimepicker').datetimepicker({-->
<!--                  locale: 'fr',-->
<!--                  sideBySide: true,-->
<!--                  format: "DD-MM-YYYY h:mm A"-->
<!--              });-->
<!--          </script>-->
<!--        </div>-->

        <%= f.button 'Publish', class: 'btn btn-primary mt-5', type: 'submit' %>

      <% end %>
    </div>


  </div>
</div>
</div>