<!DOCTYPE html>
<html>
<head>
  <title>Yalanotlob</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'%>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<div class="container">
  <!--  <p class="notice"><%#= notice %></p>-->
  <!--  <p class="alert"><%#= alert %></p>-->
  <%= yield %>
</div>
</body>
</html>